body {
	background-color: #222;
	margin:20px;
}

svg {
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
}

span {
	color:white;
	font-family:sans-serif;
	opacity: .3;
}

#score {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
	color:orange
}

.target-score {
	color:rgb(233, 139, 15);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
